@{
    ViewBag.Title = "Bartender Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Bartender App!</h1>
    
    <p><a href="@Url.Action("Index","Drink")" class="btn btn-primary btn-lg">Order Now &raquo;</a></p>
</div>

<div>
    <a href="@Url.Action("Index","Queue")">Display Drink Queue</a>
</div>

